In [4]:
#Creating a list
list=[1,2,3,4,5,6,7]
print(list)
#Adding a element
list.append(8)
list.append(9)
print(list)
#Removing a specific element in the list
list.remove(4)
print(list)
#Removeing the specic element at ith index from the list
list.pop(1)
print("Final Updated list : ",list)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 6, 7, 8, 9]
Final Updated list :  [1, 3, 5, 6, 7, 8, 9]

In [6]:
# Creation of DICTIONARY
dict = {'name': 'Deekshith','age':25,'City':'Amsterdam'}
print(dict)

# Adding
dict ['gender'] = 'Male'
print(dict)

# Removing
del dict['City']
print(dict)

# Modifying
dict['age'] = 20

print("Updated Dictionary:",dict)

{'name': 'Deekshith', 'age': 25, 'City': 'Amsterdam'}
{'name': 'Deekshith', 'age': 25, 'City': 'Amsterdam', 'gender': 'Male'}
{'name': 'Deekshith', 'age': 25, 'gender': 'Male'}
Updated Dictionary: {'name': 'Deekshith', 'age': 20, 'gender': 'Male'}

In [7]:
# Creation of SET
set = {1,2,3,4,5,6,7}
print(set)

# Adding
set.add(9)
print(set)

# Removing
set.remove(3)
print(set)

# Modifying
set.discard(2)
set.add(11)

print("Updated Set:",set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 4, 5, 6, 7, 9}
Updated Set: {1, 4, 5, 6, 7, 9, 11}